body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #ff99cc;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul a {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #ff99cc;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
table, th, td {
  border: 1px solid #888;
}

.tableFixHead          { overflow-y: auto; height: 100px; }
.tableFixHead thead th { position: sticky; top: 0; }

table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }

a {
    text-decoration: none;
    color: #dd77aa;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
}

.fineprint {
    font-style: italic; 
    font-size: 1.0em;
    line-height: 1.4em;
    color: #004d99;
}
ul { 
    font-size: 1.1em;
    line-height: 1.3em;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    font-size: 1.1em;
    line-height: 1.5em;
}

ul.posts li {
    list-style: none;
    font-size: 1em;
    line-height: 1.5em;
}
