<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		Nic Wong - pedagogy and data
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Projects</a></li>
	        		<li><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<hr>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<hr>
				<p>Contact</p>
				<form action="https://formspree.io/xjvvorrb" method="POST">
					<label>
					<p>Your name:</p>
					<input type="text" name="name">
					</label>
					<label>
					<p>Your email address:</p>
					<input type="email" name="_replyto">
					</label>
					<label>
					<p>Your message:</p>
					<textarea name="message"></textarea>
					</label>
  					<button type="submit">Send</button>
				</form>
		</body>
	</html>

